.wrapper {
    display: flex;
}

.sidebar {
    width: 250px;
    overflow-y: auto;
}

.main-content {
    flex: 1;
    overflow-y: auto;
    height: 100vh;
}

section {
    padding: 20px;
    margin-bottom: 20px;
}